/**
*@name Layout Styles
*@description This is stylesheet that contain styles for 'Layout' elements, like css-classes that creating website layout structure
*@author Vladislav Semenets <semenecvlad@mail.ru>
*/


/**************************************************
*****************HEADER SECTION
***************************************************/
.l-header {
  height: 80px;
  position: fixed;
  background-color: $header-color;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  .l-wrapper {
    height: 80px;
  }
}

/**************************************************
*****************CONTAINER
***************************************************/
.l-wrapper {
  width: 90%;
  margin: 0 auto;
  @include outline($outline-color-1);

  @media screen and (min-width: 1260px) {
      width: 1150px;
  }
  @media screen and (max-width: 1258px) {
      width: 100%;
  }
}

/**************************************************
*****************CONTAINER FOR BLOCKS
***************************************************/
.l-block-container {
  width: 99%;
  height: auto;
  margin: 0 auto;
  @include outline($outline-color-1);
}

/**************************************************
*****************BLOCK STYLE
***************************************************/
.l-block {
  display: inline-block;
  margin-right: 1%;
  vertical-align: top;
  @include outline($outline-color-1);
  &:last-child {
    margin-right: 0;
  }
}

.l-block-1{
  @extend .l-block;
  width: 32.2%;
}

.l-block-2 {
  // Used in _main.html
  @extend .l-block;
  margin-right: 2.2%;
  width: (100%/4)-2%;
  height: 25rem;

  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
  }
}

.l-block-3 {
  //Used in _main.html in "Our Categories"
  @extend .l-block;
  margin-right: 2.2%;
  width: (100%/4)-2%;
  background-color: $button-default-color;
  padding: .5em 0;
  text-align: center;

  &:hover {
    padding: .65em 0;
    border-bottom: 4px solid $link-active-color;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
  }
}

.l-block-4 {
  // This block using in Footer
  @extend .l-block;
  width: (100%/5)-2%;
  margin-right: 2.2%;
  text-align: left;
   li {
     padding-bottom: 5px;
   }
   @media screen and (max-width: 1258px) {
     margin-right: 1%;
   }
}

.l-woman-wrapper {
  @extend .l-wrapper;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}


/**************************************************
*****************SIDEBAR
***************************************************/
.l-sidebar {
  order: 1;
  flex-grow: 2;
  flex-basis: 220px;
  padding: 20px;

  ul {
    margin: 0;
    padding: 0;
  }
  @include outline($outline-color-1);
}


/**************************************************
*****************CONTENT PART
*********At the pages with sidebar
***************************************************/
.l-content {
  order: 2;
  flex-grow: 4;
  flex-basis: 950px;
  padding: 20px;
  background: $section-color;
}

.l-product-container {
  display: inline-block;
  vertical-align: top;
}


/**************************************************
*****************FOOTER SECTION
***************************************************/
.l-footer {
  width: 100%;
  height: 250px;
  padding-top: 25px;
  background-color: $footer-color;

}
