/*****************************************
* *************SECTIONS*******************
*****************************************/
section.sales {
  .l-block-container { // !!!! BUG margin not work normal
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
section.featured-products {
  .button{
    margin: 20px auto;
  }
}
section.options {
  height: 25rem;
  background: url(../img/marketing-digital-para-moda.jpg);
  z-index: 1;
  .l-block-container {
      padding-top: 50px;
      padding-bottom: 30px;
    }
}
section.new-products {
  .button{
    margin: 20px auto;
  }
}
section.blog-news {
  background-color: $section-special-color;
  .button {
    margin: 0px auto 20px auto;
  }
}
section.blog {
  background-color: $section-special-color;
  padding-top: 80px;

  .l-product-container {
    width: 31%;
    margin-right: 23px;
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
    @include outline($outline-color-1);
    margin-bottom: 20px;
  }
  .blog-prev-text {
    text-indent: 20px;
  }
  .blog-headings {
    margin-top: 10px;
  }
  .button {
    // float: right;
    width: 53%;
    margin: 10px auto 0px auto;
  }
}
section.categories {
  height: 15rem;
  background: url(../img/marketing-digital-para-moda.jpg);
}
section.brands {
  img {
    width: 200px;
    margin: 30px 33px 30px 0;
    @include outline($outline-color-1);
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 1258px) {
      img {
        width: 18%;
        margin: 30px 15px 30px 0;
      }
  }
}
section.category-woman {
  background: $section-special-color;
  padding-top: 80px;
}
section.product-detailed {
  background: $section-special-color;
  padding-top: 80px;
}
/********************************
* ACCORDION ON JEWELLERY SIDEBAR
* Starting Here
*********************************/
.accordion {
  .accordion-item {
    color: $link-default-color;
    cursor: pointer;
    &:hover {
      color: $link-hover-color
    }
    .sub-data {

      display: block;
    }
  }
  .accordion-item.open {
    background:#14ad40;
    border-bottom:0px;
    color:#fff;
  }
}



/***********************************/
.l-block-1 .image {
  height: 15rem;
}
.text {
  height: 15rem;
  display: block;
  position: relative;
  text-align: center;
  font-size: 1.3em;
  @include outline($outline-color-1);
}
.text-1 {
  @extend .text;
  small {
    position: relative;
    top: 60px;
    color: $heading-special-color;
  }
  p {
    position: relative;
    top: 40px;
    font-size: 1.5em;
  }
}
.text-2 {
  @extend .text;
  height: 140px;
  a {
    font-size: .8em;
    position: relative;
    top: .8em;

  }
}
.white-text {
  color: $white;
  text-align: center;

  p {
    font-size: 1.5em;
  }
  small {
    font-size: 1.1em;
    font-weight: normal;
  }
  h3 {
    color: $white;
  }
}
.product-list {
  li {
    padding: 5px;
  }
}
.section-headings {
  @include outline($outline-color-1);
  width: 35%;
  padding: 1em 0;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3em;
}
section.contact {
  padding-top: 80px;
}
.contact-details {

  @extend .section-headings;
  width: 100%;
  background-color: $section-special-color;
  h4 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }
  p,b {
    font-size: 12px;
  }
}

form.contact-us-form {
  width: 70%;
  margin: 0 auto;

  textarea[name="contact-message"] {
    width: 100%;
    height: 100px;
    resize: none;
    text-owerflow: elipsis;
    border-radius: 6px;
    border: 1px solid lightgrey;
    padding: 10px;

    &:hover{
    border: 1px solid rgba(52, 152, 219, 1);
    box-shadow: 1px 1px 3px 1px rgba(52, 152, 219, 0.2) inset;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    }
    &::placeholder {
      padding-left: 10px;
      color: $gray-dark;
    }
  }
}
.product-image { // Используем эти картинки в блоге_эффекты
  img {
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(1.12);
  }
  &:hover img {
    opacity: 0.5;
    transform: scale(1);
  }

  figcaption {
    padding: 3em;

    &::before {
      position: absolute;
      width: 315px;
      height: 315px;
      top: 30px;
      right: 30px;
      bottom: 30px;
      left: 30px;
      border: 1px solid $white;
      content: '';
      transform: scale(1.1);
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s;
    }
  }
  p {
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    margin: 0 auto;
    max-width: 300px;
    transform: scale(1.5);
  }
  h2 {
    padding: 20% 0 10% 0;
  }
  &:hover figcaption::before {
    opacity: 1;
    transform: scale(1);
  }
  &:hover p {
    opacity: 1;
    transform: scale(1);
  }
}
