.logo {
  position: relative;
  float: left;
  width: 250px;
  top: 15px;
  font-size: 250%;
  font-weight: bold;
  cursor: pointer;
  @include outline($outline-color-1);

  a:hover {
    color: $link-hover-color;
    transition: color 0.2s ease-out 0.3s;
  }

  @media screen and (max-width: 1024px) {
    width: 200px;
    padding-left: 15px;
  }
}
