.modal {
  width: 500px;
  height: 300px;
  position: fixed;
  top: 25%;
  left: 40%;
  margin-top: -150px;
  margin-left: -150px;
  padding: 20px;
  // outline: 1px solid red;
  // margin: 0 auto;
  background-color: $modal-color;
  // border-radius: 10px;
  z-index: 5;
  box-shadow: 0 0 7px 2px rgba(30, 30, 30, 0.6);
  display: none;
  opacity: 0;

  .button {
    margin-top: 5px;
    margin-bottom: 8px;
  }
}
.mod-container {
    display: inline-block;
    // outline: 1px dotted blue;
    vertical-align: top;
    margin-right: 40px;
    // background-color: $section-color;
}
.mod-container:last-child {
  margin-right: 0;
}
h3 {
    font-size: 1.4em;
    // outline: 1px solid green;
    text-align: center;
    margin: 0 0 1em 0;
    color: $heading-special-color;
}

a.in-modal {
  text-decoration: underline;
  font-size: 12px;
}

  .close {
    position: absolute;
    background-color: $gray-dark;
    color: $white;
    width: 15px;
    padding: 5px;
    text-align: center;
    bottom: 300px;
    left: 500px;
    &:hover {
      background-color: $button-hover-color;
      cursor: pointer;
    }
  }

#background {
  background-color: $black;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
  display: none;
}
