.icon {
  padding: 1em;
  position: relative;
  top: 15px;
  float: right;
  margin-left: 10px;
  @include outline($outline-color-1);
}
.rounded-icon {
  @include border-radius(50%);
  position: relative;
  left: 37%;
  color: $white;
  width: 6em;
  height: 6em;
  border: 2px solid $white;

  i {
    position: relative;
    top: 35%;
  }
}
.social-icon {
	display: inline-block;
	margin-right: 5px;
	width: 32px;
	filter: contrast(60%);
	-webkit-filter: contrast(60%);
	transition: 0.3s linear;

	&:hover {
		transform: translateY(-5px);
		filter: contrast(300%);
		-webkit-filter: contrast(300%);
	}
  @media screen and (max-width: 1024px) {
    margin-right: 1%;
    width: 28px;
  }
}
