.slider {
  width: 100%;
  height: 45rem;
  padding-top: 80px;
  background: url(../img/Guess-Mens-Collection_.jpg);
  background-size: cover;

  //#slides_control > div{
  //  height: 45rem;
  //}
  //img{
  //  margin:auto;
  //  width: 100%;
  //}
  //#slides_control {
  //  position:absolute;
  //  width: 100%;
  //  //left:50%;
  //  //top:20px;
  //  margin-left:-200px;
  //}
}
