<main>
  <section class="blog">
    <div class="l-wrapper l-woman-wrapper">
      <!-- //= template/_sidebar.html -->
      <div class="l-content">
        <h1 class="section-headings">Blog News</h1>
        <div class="l-product-container">
            <img src="img/girl1.jpg" alt="Article1">
            <h3 class="blog-headings"><a href="">What new in blog</a></h3>
            <span class="blog-prev-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Ea quae numquam consequuntur in eaque, quibusdam quisquam quasi exercitationem
                 suscipit nulla sapiente ad! Illo accusamus, sapiente voluptates accusantium officiis inventore odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Nemo, iure! Similique omnis atque consequatur quos cumque magni ducimus, fugiat earum molestias natus illo a labore est odio explicabo quam, nemo!
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </span>
            <button class="button">Read More</button>
        </div>
        <div class="l-product-container">
            <img src="img/girl1.jpg" alt="Article1">
            <h3 class="blog-headings"><a href="">What new in blog</a></h3>
            <span class="blog-prev-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Ea quae numquam consequuntur in eaque, quibusdam quisquam quasi exercitationem
                 suscipit nulla sapiente ad! Illo accusamus, sapiente voluptates accusantium officiis inventore odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Nemo, iure! Similique omnis atque consequatur quos cumque magni ducimus, fugiat earum molestias natus illo a labore est odio explicabo quam, nemo!
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </span>
            <button class="button">Read More</button>
        </div>
        <div class="l-product-container">
            <img src="img/girl1.jpg" alt="Article1">
            <h3 class="blog-headings"><a href="">What new in blog</a></h3>
            <span class="blog-prev-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Ea quae numquam consequuntur in eaque, quibusdam quisquam quasi exercitationem
                 suscipit nulla sapiente ad! Illo accusamus, sapiente voluptates accusantium officiis inventore odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Nemo, iure! Similique omnis atque consequatur quos cumque magni ducimus, fugiat earum molestias natus illo a labore est odio explicabo quam, nemo!
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </span>
            <button class="button">Read More</button>
        </div>
        <div class="l-product-container">
            <img src="img/girl1.jpg" alt="Article1">
            <h3 class="blog-headings"><a href="">What new in blog</a></h3>
            <span class="blog-prev-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Ea quae numquam consequuntur in eaque, quibusdam quisquam quasi exercitationem
                 suscipit nulla sapiente ad! Illo accusamus, sapiente voluptates accusantium officiis inventore odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Nemo, iure! Similique omnis atque consequatur quos cumque magni ducimus, fugiat earum molestias natus illo a labore est odio explicabo quam, nemo!
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </span>
            <button class="button">Read More</button>
        </div>
        <div class="l-product-container">
            <img src="img/girl1.jpg" alt="Article1">
            <h3 class="blog-headings"><a href="">What new in blog</a></h3>
            <span class="blog-prev-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Ea quae numquam consequuntur in eaque, quibusdam quisquam quasi exercitationem
                 suscipit nulla sapiente ad! Illo accusamus, sapiente voluptates accusantium officiis inventore odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Nemo, iure! Similique omnis atque consequatur quos cumque magni ducimus, fugiat earum molestias natus illo a labore est odio explicabo quam, nemo!
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </span>
            <button class="button">Read More</button>
        </div>
        <div class="l-product-container">
            <img src="img/girl1.jpg" alt="Article1">
            <h3 class="blog-headings"><a href="">What new in blog</a></h3>
            <span class="blog-prev-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Ea quae numquam consequuntur in eaque, quibusdam quisquam quasi exercitationem
                 suscipit nulla sapiente ad! Illo accusamus, sapiente voluptates accusantium officiis inventore odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Nemo, iure! Similique omnis atque consequatur quos cumque magni ducimus, fugiat earum molestias natus illo a labore est odio explicabo quam, nemo!
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </span>
            <button class="button">Read More</button>
        </div>
      </div>
    </div>
  </section>
</main>
