<main>
  <section class="blog">
    <div class="l-wrapper l-woman-wrapper">
      //= template/_sidebar.html
      <div class="l-content">

        <div class="l-product-container">

          <figure class="product-image">
  						<img src="img/girl1.jpg" alt="img12"/>
  						<figcaption>
  							<div>
  								<h2>Nice <span>Lily</span></h2>
  								<p>Lily likes to play with crayons and pencils</p>
  							</div>
  							<a href="#">View more</a>
  						</figcaption>
  				</figure>

            <h3 class="blog-headings"><a href="">Product Title</a></h3>
            <span class="blog-prev-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Ea quae numquam consequuntur in eaque, quibusdam quisquam quasi exercitationem
               suscipit nulla sapiente ad! Illo accusamus, sapiente voluptates accusantium
               officiis inventore odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Nemo, iure! Similique omnis atque consequatur quos cumque magni ducimus, fugiat
               earum molestias natus illo a labore est odio explicabo quam, nemo!
               Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Ea quae numquam consequuntur in eaque, quibusdam quisquam quasi exercitationem
                  suscipit nulla sapiente ad! Illo accusamus, sapiente voluptates accusantium
                  officiis inventore odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Nemo, iure! Similique omnis atque consequatur quos cumque magni ducimus, fugiat
                  earum molestias natus illo a labore est odio explicabo quam, nemo</span>
            <button class="button">Read More</button>
        </div>

        <div class="l-product-container">

          <figure class="product-image">
  						<img src="img/girl2.jpg" alt="img12"/>
  						<figcaption>
  							<div>
  								<h2>Nice <span>Lily</span></h2>
  								<p>Lily likes to play with crayons and pencils</p>
  							</div>
  							<a href="#">View more</a>
  						</figcaption>
  				</figure>

            <h3 class="blog-headings"><a href="">Product Title</a></h3>
            <span class="blog-prev-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Ea quae numquam consequuntur in eaque, quibusdam quisquam quasi exercitationem
               suscipit nulla sapiente ad! Illo accusamus, sapiente voluptates accusantium
               officiis inventore odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Nemo, iure! Similique omnis atque consequatur quos cumque magni ducimus, fugiat
               earum molestias natus illo a labore est odio explicabo quam, nemo!
               Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Ea quae numquam consequuntur in eaque, quibusdam quisquam quasi exercitationem
                  suscipit nulla sapiente ad! Illo accusamus, sapiente voluptates accusantium
                  officiis inventore odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Nemo, iure! Similique omnis atque consequatur quos cumque magni ducimus, fugiat
                  earum molestias natus illo a labore est odio explicabo quam, nemo</span>
            <button class="button">Read More</button>
        </div>

        <div class="l-product-container">

          <figure class="product-image">
  						<img src="img/girl3.jpg" alt="img12"/>
  						<figcaption>
  							<div>
  								<h2>Nice <span>Lily</span></h2>
  								<p>Lily likes to play with crayons and pencils</p>
  							</div>
  							<a href="#">View more</a>
  						</figcaption>
  				</figure>

            <h3 class="blog-headings"><a href="">Product Title</a></h3>
            <span class="blog-prev-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Ea quae numquam consequuntur in eaque, quibusdam quisquam quasi exercitationem
               suscipit nulla sapiente ad! Illo accusamus, sapiente voluptates accusantium
               officiis inventore odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Nemo, iure! Similique omnis atque consequatur quos cumque magni ducimus, fugiat
               earum molestias natus illo a labore est odio explicabo quam, nemo!
               Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Ea quae numquam consequuntur in eaque, quibusdam quisquam quasi exercitationem
                  suscipit nulla sapiente ad! Illo accusamus, sapiente voluptates accusantium
                  officiis inventore odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Nemo, iure! Similique omnis atque consequatur quos cumque magni ducimus, fugiat
                  earum molestias natus illo a labore est odio explicabo quam, nemo</span>
            <button class="button">Read More</button>
        </div>

        <div class="l-product-container">

          <figure class="product-image">
  						<img src="img/girl1.jpg" alt="img12"/>
  						<figcaption>
  							<div>
  								<h2>Nice <span>Lily</span></h2>
  								<p>Lily likes to play with crayons and pencils</p>
  							</div>
  							<a href="#">View more</a>
  						</figcaption>
  				</figure>

            <h3 class="blog-headings"><a href="">Product Title</a></h3>
            <span class="blog-prev-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Ea quae numquam consequuntur in eaque, quibusdam quisquam quasi exercitationem
               suscipit nulla sapiente ad! Illo accusamus, sapiente voluptates accusantium
               officiis inventore odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Nemo, iure! Similique omnis atque consequatur quos cumque magni ducimus, fugiat
               earum molestias natus illo a labore est odio explicabo quam, nemo!
               Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Ea quae numquam consequuntur in eaque, quibusdam quisquam quasi exercitationem
                  suscipit nulla sapiente ad! Illo accusamus, sapiente voluptates accusantium
                  officiis inventore odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Nemo, iure! Similique omnis atque consequatur quos cumque magni ducimus, fugiat
                  earum molestias natus illo a labore est odio explicabo quam, nemo</span>
            <button class="button">Read More</button>
        </div>
      </div>
    </div>
  </section>
</main>
