<main>
  <section class="category-woman">
    <div class="l-wrapper l-woman-wrapper">
      //= template/sidebar_men.html
      <div class="l-content" ng-controller="CategoryCtrl">
        <h1 class="section-headings">Men Collection</h1>
        <div class="l-product-container" ng-repeat="cloth in menclothes">
          <div class="product">
            <div class="thumbnail">
              <img ng-src="{{cloth.image}}" alt="{{cloth.title}}">
            </div>
            <span><a class="title" href="#">{{cloth.title}}</a></span>
            <span class="price">{{cloth.price}}</span>
            <button class="button">Add to Cart</button>
          </div>
        </div>

    </div>
  </section>
</main>
