<main>
  <section class="contact">
    <div class="l-wrapper">
      <h1 class="section-headings">Contact Us</h1>
      <iframe width="100%" height="500px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJCd8b7SkFdkgR4T5rAFYA--w&key=AIzaSyCZ-u-zABEIGtwLfQjns-AnS-MHPWdP-p4" allowfullscreen></iframe>
      <div class="contact-details">
        <h4>London, United Kingdom</h5>
        <p>20 Dover St, London W1S 4LU, United Kingdom</p>
        <b>+79000000000</b>
      </div>
      <div class="contact-form">
        <h1 class="section-headings">Here You Can Send Your Message For Us</h1>
        <form class="contact-us-form" method="post">
          <p>Your Name:</p>
          <input type="text" placeholder="Type your Name here..." required>
          <p>Your E-mail:</p>
          <input type="email" placeholder="Type your e-mail here..." required>
          <p>Your Message:</p>
          <textarea name="contact-message" placeholder="Type your message here..."></textarea>
          <button type="submit" class="button-submit">Send</button>
          <br>
        </form>

      </div>
    </div>

  </section>
</main>
