<footer class="l-footer white-text">
  <div class="l-wrapper">
    <div class="l-block-container">
      <div class="l-block-4">
        <h3>CONTACT US</h3>
        <div>Luxury shop, London
        United Kingdom</div>
        <div>xxxxxxx@mail.com
        xxxxxxx@mail.com</div>
        <div>+900-00-00-00</div>
      </div>
      <div class="l-block-4">
        <h3>INFORMATION</h3>
        <ul>
          <li><a href="#">My account</a></li>
          <li><a href="#">Order history</a></li>
          <li><a href="#">Wish list</a></li>
          <li><a href="#">Resume</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>
      <div class="l-block-4">
        <h3>OUR OFFERS</h3>
        <ul>
          <li><a href="#">New collection</a></li>
          <li><a href="#">Best sellers</a></li>
          <li><a href="#">Manufacturers</a></li>
          <li><a href="#">New Products</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Delivery&return</a></li>
        </ul>
      </div>
      <div class="l-block-4">
        <h3>OUR POLICY</h3>
        <ul>
          <li><a href="#">Help&Contact</a></li>
          <li><a href="#">Return policy</a></li>
          <li><a href="#">Shipping&taxes</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Attitudes</a></li>
          <li><a href="#">Legal Notice</a></li>
        </ul>
      </div>
      <div class="l-block-4">
        <h3>GET NEWSLETTERS</h3>
        <form action="">
          <input type="email" name="email" placeholder="E-mail">
        </form>
        <br>
        <h3>CONNECT US</h3>
        <div class="l-block-container">
          <a href="#" class="social-icon">
			      <img src="./img/facebook-icon.png">
		      </a>
		      <a href="#" class="social-icon">
			      <img src="./img/vk-icon.png">
		      </a>
		      <a href="#" class="social-icon">
			      <img src="./img/g-icon.png">
		      </a>
		      <a href="#" class="social-icon">
			      <img src="./img/youtube-icon.png">
		      </a>
        </div>
      </div>
    </div>
  </div>
</footer>
