<div id="modal" class="modal">
  <div id="close" class="close">X</div>
  <div class="mod-container">
    <h3>Sign In</h3>
    <form action="GET">
      <label for="email" >E-mail:</label>
      <input name="email" placeholder="example@mail.com" type="email" /> <br />
      <label for="password">Password:</label>
      <input name="password" type="password" placeholder="Enter your password here..."/> <br />
      <input class="button" type="submit" value="Sign In" />
    </form>
    <a class="in-modal" href="#">Forgot your password?</a>
  </div>
  <div class="mod-container">
    <h3>Register</h3>
    <form action="GET">
      <label for="email">E-mail: </label>
      <input name="email" placeholder="example@mail.com" type="email" /> <br />
      <label for="password">Password:</label>
      <input name="password" type="password" placeholder="Enter your password here..." /><br />
      <label for="phone">Mob. phone:</label>
      <input name="phone" type="tel"  pattern="(\+?\d[- .]*){7,13}"/><br />
      <input class="button" type="submit" value="Register" />
    </form>
  </div>

</div>
<div id="background" class="background"></div>
