<aside class="l-sidebar">
  <h4>Jewellery Collection:</h4>
  <p>Categories:</p>
    <ul class="accordion">
      <li class="accordion-item">Gold and platinum items
        <ul class="sub-data">
          <a href="#"><li>Gold and platinum ring</li></a>
          <a href="#"><li>Gold earrings</li></a>
          <a href="#"><li>Gold pendants</li></a>
          <a href="#"><li>Gold Necklace</li></a>
          <a href="#"><li>Golden bracelets</li></a>
          <a href="#"><li>Chains</li></a>
          <a href="#"><li>Gold Accessories</li></a>
        </ul>
      </li>

      <a class="accordion-item" href="#"><li>Silver items</li></a>
      <a class="accordion-item" href="#"><li>Luxury jewelry</li></a>
      <a class="accordion-item" href="#"><li>Luxury gifts</li></a>
    </ul>

</aside>
<!-- <a class="accordion-item" href="#"></a>
<div class="accordion-data">
  <b>Gold and platinum ring:</b>
  <hr>
  <a href="#">Women's gold and platinum rings</a>
  <a href="#">Wedding rings</a>
  <a href="#">Rings tapeworms</a>
  <a href="#">Rings with hearts</a>
  <a href="#">Men's gold and platinum rings</a>
  <a href="#">Children's rings</a>
</br>

  <b>Gold earrings:</b>
  <hr>
  <a href="#">Earrings with English / omega lock</a>
  <a href="#">Ear-Congo (ring)</a>
  <a href="#">Stud earrings (stud)</a>
  <a href="#">Earrings with pendants</a>
  <a href="#">Men's earrings</a>
  <a href="#">Children's earrings</a>
  <br>

  <b>Gold pendants:</b>
  <hr>
  <a href="#">Women pendants</a>
  <a href="#">Pendants-tic</a>
  <a href="#">Pendants-zodiac</a>
  <a href="#">Pendants-letter</a>
  <a href="#">Pendants-amulets</a>
  <a href="#">Heart Pendants</a>
  <a href="#">Pendants, Judaica</a>
  <a href="#">Men's pendants</a>
  <a href="#">Baby pendants</a>
  <br>

  <b>Gold Necklace:</b>
  <hr>
  <a href="#">Stylish necklace</a>
  <a href="#">Necklace with hearts</a>
  <br>

  <b>Golden bracelets:</b>
  <hr>
  <a href="#">Women's bracelets</a>
  <a href="#">Bracelets on a leg</a>
  <a href="#">Mens Bracelets</a>
  <br>

  <b>Chains:</b>
  <hr>
  <a href="#">Ladies chain</a>
  <a href="#">Men's chain</a>
  <br>

  <b>Gold Accessories:</b>
  <hr>
  <a href="#">Gold cufflinks</a>
  <a href="#">Gold tie clips</a>
  <a href="#">Gold pins and barrettes</a>
  <br> -->
